################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DAD_ecostuff/.vs/DAD_ecostuff/FileContentIndex
